sudo: false
language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
        pip install pep8;
    fi
  - wget 'http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh' -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda2/bin:$PATH
  - conda update --yes conda
install:
  - conda create --yes -n gensim-test python=$TRAVIS_PYTHON_VERSION pip atlas numpy scipy
  - source activate gensim-test
  - pip install pyemd==0.3.0
  - pip install annoy
  - pip install testfixtures
  - pip install unittest2
  - python setup.py install
script:
  - python setup.py test
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      pep8 gensim --show-source --ignore=E501,E731,E12,W503;
    fi
