language: python
python:
  - "2.6"
  - "2.7"
virtualenv:
    system_site_packages: true
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq python-numpy python-scipy libatlas-dev liblapack-dev gfortran
install:
    - python setup.py install
script: python setup.py test
