recursive-include gensim/test/test_data *
include README.md
include CHANGELOG.md
include COPYING
include COPYING.LESSER
include ez_setup.py
include gensim/models/voidptr.h
include gensim/models/word2vec_inner.c
include gensim/models/word2vec_inner.pyx
include gensim/models/word2vec_inner.pxd
include gensim/models/doc2vec_inner.c
include gensim/models/doc2vec_inner.pyx
include gensim/models/fasttext_inner.c
include gensim/models/fasttext_inner.pyx
include gensim/corpora/_mmreader.c
include gensim/corpora/_mmreader.pyx
include gensim/models/sent2vec_inner.cpp
include gensim/models/sent2vec_inner.pyx
