.pic {
  margin-bottom: 40px;
  position: relative;
  display: block;
  width: 100%;

  &:hover {
    @include transform(scale(1.12));
    text-decoration: none;

    .layer {
      background: rgba(33,33,33,.8);
      p {
        margin-top: -20px;
        opacity: 1;
        filter: alpha(opacity=100);
      }
    }
  }

  .layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0);
    @include transition(all 0.25s ease-out);

    p {
      transition: margin-top .35s ease-out, opacity .55s ease-out;
      color: #fff;
      font-size: 15px;
      text-align: center;
      top: 50%;
      width: 100%;
      position: absolute;
      font-weight: 600;
      margin-top: 25px;
      opacity: 0;
      filter: alpha(opacity=0);

      span {
        position: relative;
        top: 1px;
        margin-right: 2px;
      }
    }
  }
  img {
    margin: 0 auto;
  }
}
